body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

.duration {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 4px;
  color: #fff;
  background-color: rgba(17,17,17,0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.landing-ul {
  display: flex;
  justify-content: space-around;
  margin: 4.5rem 0 2.5rem 0;
  padding: 0 10vw;
}

.landing-li {
  display: flex;
  /* margin: auto 5%; */
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.landing-ul a {
  color: #999;
  /* width: 24%; */
}
  .landing-ul a:hover {
    color: #FF665A;
  }

.search-bar {
  position: relative;
  top: 91%;
  margin: auto 29%;
  width: 50%;
  background-color: white;
  height: 20%;
  border-radius: 5px;
  padding: 11px;
  box-shadow: 0px 5px 5px rgba(221, 221, 221, 0.25);
}

.search-bar span {
  font-size: 18px;
  font-weight: 500;
  color: #DDDDDD;
  line-height: 30px;
}